- add_to_breadcrumbs s_('Runners|Runners'), admin_runners_path
- breadcrumb_title s_('Runners|Fleet dashboard')
- page_title s_('Runners|Fleet dashboard'), s_('Runners|Runners')
- add_page_specific_style 'page_bundles/runners'

#js-admin-runners-dashboard{ data: {
  admin_runners_path: admin_runners_path,
  new_runner_path: new_admin_runner_path,
  clickhouse_ci_analytics_available: ::Gitlab::ClickHouse.configured?
} }
