@import 'mixins_and_variables_and_functions';

// Modeled after projects.scss and groups.scss
.organization-row .organization-description p {
  margin-bottom: 0;
}

.organization-root-path {
  max-width: 40vw;
}
